
header{
  background-color: #5b7989;
  width: 100%;
  height: 120px;
  border-radius: 10px 10px 0px 0px;
}
h1{
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  color: white;
  text-shadow:1px 2px 2px #02010a;
}
header nav{
  font-family: 'Dancing Script', cursive;
  height: 90%;
  float: right;
  padding: 0.5% 2% 0 0;
}
a{
  text-decoration: none;
  font-size: 2em;
  color: white;
  text-shadow:1px 2px 2px #02010a;
}

body{
  background-color: #02010a;
  font-size: 16px;
	font-family: sans-serif;
}

.contenido{
margin: 0;
width: 900px;
padding: 0;
display: flex;
flex-flow: wrap;
}

.contenedor div{
	box-sizing: border-box;


  }

.contenedor{
  background-color: #82c3a6;
  padding: 50px;
  margin: 10px;
  flex-direction: row;
  height: auto;

}

 #casa{
 margin-left: auto;
 margin-right: auto;
 padding: 0.5% 2% 0 0;

}

.contenedor2 img{
  box-sizing: border-box;
  display: inline-block;
  flex-direction: column;

}

.contenedor2{
  background-color:#d5c75f;
  width: 100%;
  padding: 50px;
  margin: 10px;
  flex-direction: row;
  height: auto;
}

#paisaje{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5% 2% 0 0;
  float: left;


}

#retrato{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5% 2% 0 0;
  float: right;
}

footer{
  background-color:#C6d5c5;
  border-radius: 0px 0px 10px 10px;
  font-family: 'Dancing Script', cursive;

  }
  .contenedor3 {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  .contenedor3 div {
  box-sizing: border-box;
  min-height: 600px;
  min-width: 100px;
  }

.c1 {
   width: 25%
   font-size: 2em;}

.c2 {
  width: 25%
  font-size: 2em;
}

.c3{
  width: 25%
  font-size: 2em;
}

.c4{
  width: 25%
  font-size: 2em;
}

@media all and (max-width: 500px) {
	.c1 {
    		width: 100%;  
  }


	 .c2 {
		width: 100%;

	}
	.c3 {
		width: 100%;

	}
  .c4 {
    width: 100%
  }
}

@media all and (max-width: 800px) and (min-width: 500px) {
	.c1 {
		width: 25%;
	}
	.c2 {
		width: 25%;
	}
	.c3 {
		width: 25%;
	}
  .c4 {
    width: 25%;
  }
}
