
header{
  background-color: #5b7989;
  width: 100%;
  height: 120px;
  border-radius: 10px 10px 0px 0px;
}
h1{
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  color: white;
  text-shadow:1px 2px 2px #02010a;
}
header nav{
  font-family: 'Dancing Script', cursive;
  height: 90%;
  float: right;
  padding: 0.5% 2% 0 0;
}
a{
  text-decoration: none;
  font-size: 2em;
  color: white;
  text-shadow:1px 2px 2px #02010a;
}

body{
   background-color: #02010a;
}

.contenido{
  margin: 0 auto;
  width: 900px;
  background-color: #02010a;
  display: flex;
  flex-flow: wrap;
}

.contenedor div{
  box-sizing: border-box;
  padding: 10px;
  flex-direction: row;
  align-items: center;
}

.contenedor{
  background-color:#d5c75f;
  margin:0px;
  border:1px solid black ;
  height:auto;
  display: flex;
  flex-flow:row wrap;
}


.contenedor1{
  width: 33.33%;
  order: 1;
}

.contenedor2{
  width: 33.33%;
  order: 2;
}

.contenedor3{
  width: 33.33%;
  order: 3;
}

img{
  -webkit-box-shadow:2px 2px #02010a;
  box-shadow: 2px 2px #02010a;

}

#img1{
  -webkit-filter:blur(10px);
  filter: blur(10px);
  order: 1;
}

#img2{
  -webkit-filter:grayscale(100%);
  filter: grayscale(100%);
  order: 2;
}

#img3{
  -webkit-filter:sepia(90%);
  filter: sepia(90%);
  order: 5;
}

#img4{
  -webkit-filter:grayscale(100%);
  filter: grayscale(100%);
  order: 3;
}
#img5{
  order: 4
}
#img6{
  -webkit-filter:grayscale(100%);
  filter: grayscale(100%);
  order: 6;

}

footer{
  width: 100%;
  background-color:#C6d5c5;
  border-radius: 0px 0px 10px 10px;
  font-family: 'Dancing Script', cursive;
  }

.contenedor4{
 display: flex;
 flex-flow: row wrap;
}

.contenedor4 div{
 box-sizing: border-box;
}

.c1 {
   width: 25%;
   order:1;
   }

.c2 {
  width: 25%;
  order: 2;

}

.c3{
  width: 25%;
  order:3;

}

.c4{
  width: 25%;
  order: 4;

}

@media all and (max-width: 500px) {

  header{
    display: flex;
    -webkit-flex-direction:column;
    -moz-flex-direction:column;
    flex-direction: column;
    text-align: center;
  }

  .link{
    display: flex;
    -webkit-flex-direction:column;
    -moz-flex-direction:column;
    flex-direction: column;
    text-align: center;

  }

  .contenido{
    width: 100%;
    display: flex;
    -webkit-flex-direction:column;
    -moz-flex-direction:column;
    flex-direction: column;
  }


.contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#img1{
  width: 100%;
  order: 1;
}
#img2{
  width: 100%;
  order: 2;
}
#img3{
  width: 100%;
  order: 3;
}
#img4{
  width: 100%;
  order: 4;
}
#img5{
  width: 100%;
  order: 5;
}
#img6{
  width: 100%;
  order: 6;
}


 .c1 {
       width: 100%;
       order: 1;
  }

  .c2 {
   width: 100%;
   order: 2;

 }
 .c3 {
   width: 100%;
   order: 3;

 }
  .c4 {
    width: 100%;
    order: 4;
  }
}

@media all and (max-width: 900px) and (min-width: 500px) {
 .c1 {
   width: 25%;
 }
 .c2 {
   width: 25%;
 }
 .c3 {
   width: 25%;
 }
  .c4 {
    width: 25%;
  }
}
