
header{
  background-color: #5b7989;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
h1{
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  color: white;
  text-shadow:1px 2px 2px #02010a;
}
header nav{
  font-family: 'Dancing Script', cursive;
  height: 90%;
  float: right;
  padding: 0.5% 2% 0 0;
}
a{
  text-decoration: none;
  font-size: 2em;
  color: white;
  text-shadow:1px 2px 2px #02010a;
}

body{
  width: 900px;
  background-color: #02010a;
  display: flex;
  flex-flow: wrap;
}



.contenedor div{
	box-sizing: border-box;
  display: flex;
	flex-direction: row;
  align-items: center;


  }

.contenedor{
  background-color: #82c3a6;
  padding: 50px;
  margin: 0px;
  flex-direction: row;


}

 #casa{
 margin-left: auto;
 margin-right: auto;
 padding: 0.5% 2% 0 0;

}

.contenedor2 img{
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  flex-direction: row;
  -webkit-box-shadow:2px 2px 2px #02010a;
  box-shadow: 2px 2px 2px #02010a;
}

.contenedor2{
  background-color:#d5c75f;
  padding:50px;
  margin:0px;
  border:1px solid black ;
  height:auto;
  display: flex;
  flex-direction: row;
}


#paisaje img:hover{
  -webkit-transform:rotate(10deg);
  transform: rotate(10deg);
  -webkit-box-shadow:2px 2px 2px 2px #82c3a6;
  box-shadow: 2px 2px 2px 2px #82c3a6;
}




 #retrato img:hover{
   -webkit-animation-name: retrato-animacion;
   animation-name: retrato-animacion;
   -webkit-animation-duration: 1s;
 animation-duration: 1s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
 -moz-animation-delay: 1s;
 -o-animation-delay: 1s;
 -webkit-box-shadow:2px 2px 2px 2px #82c3a6;
 box-shadow: 2px 2px 2px 2px #82c3a6;

 }

 footer{
   width: 100%;
   background-color:#C6d5c5;
   border-radius: 0px 0px 10px 10px;
   font-family: 'Dancing Script', cursive;
   }

.contenedor3{
  display: flex;
  flex-flow: row wrap;
}

.contenedor3 div{
  box-sizing: border-box;
}

 .c1 {
    width: 25%;
    order:1;
    }

 .c2 {
   width: 25%;
   order: 2;

 }

 .c3{
   width: 25%;
   order:3;

 }

 .c4{
   width: 25%;
   order: 4;

 }


 @media all and (max-width: 500px) {
  
 .contenedor{
   display: flex;
   flex-direction: column;
   align-items: center;
 }


  .c1 {
        width: 100%;
        order: 1;
   }

   .c2 {
    width: 100%;
    order: 2;

  }
  .c3 {
    width: 100%;
    order: 3;

  }
   .c4 {
     width: 100%;
     order: 4;
   }
 }

 @media all and (max-width: 900px) and (min-width: 500px) {
  .c1 {
    width: 25%;
  }
  .c2 {
    width: 25%;
  }
  .c3 {
    width: 25%;
  }
   .c4 {
     width: 25%;
   }
 }
